{% extends 'tienda/base.html' %}
{% load i18n %}

{% block content %}

    <h1>FIN compra</h1>
        <div class="recuadro_compraFin">
            <div class="texto_compra_Fin">
                <div class="fechaCompra"> {{ compra.fecha }} </div>
                <div class="texto_compra_fin"> {% trans "preciProducto" %} {{ producto.precio }}€  </div>
                <div class="texto_compra_fin">{% trans "unidadesCompradas" %} {{ compra.unidades }} </div>
                <div class="texto_compra_fin">{% trans "preciFinal" %} {{ importe }}€ </div>

            </div>
        </div>
    <h2>{% trans "finCompra" %}</h2>



{% endblock %}