{% extends 'tienda/base.html' %}
            		
{% block content %}

    <center> <h1>Comprar Producto</h1></center>

    

    <div class="recuadro_compra">

        <div class="imagen_colocar"><img src="https://media.game.es/COVERV2/3D_L/V1G/V1GA1C.png"></div>

        <div>
            <div class="texto_compra">Nombre: <div class="colorRojo"> {{producto.nombre}}</div> </div>
            <div class="texto_compra">Marca:  <div class="colorRojo">{{producto.marca}}</div></div>
            <div class="texto_compra"> Modelo:  <div class="colorRojo">{{producto.modelo}}</div></div>
            <div class="texto_compra"> Unidades:  <div class="colorRojo">{{producto.unidades}}</div></div>
            <div class="texto_compra"> Precio:  <div class="colorRojo">{{producto.precio}}€</div></div>
            <br>
            {% if producto.vip %}
            <div class="texto_compra"> El producto es vip</div>
            {% endif %}

            
                {% if not request.user.is_staff and request.user.is_authenticated %}

                    <center>
                        <form method="post">
                            {% csrf_token %}
                             <div class="texto_comprar"> Valorar Producto: {{ valoracion.puntaje_valoracion }}  </div>

                            <div class="texto_comprar"> Unidades a comprar: {{ form.unidades }}  <button type="submit"  class="button-30">Comprar</button></div>

                        </form>
                    </center>

                {% endif %}

                {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

        </div>



    </div>

    {% if not request.user.is_staff and request.user.is_authenticated %}


            <div class="recuadro_comentarios">

                <form method="post" action="{% url 'enviar_comentario' producto.pk %}">  <!-- Ajusta el 'action' para apuntar al URL correcto -->
                    {% csrf_token %}
                    <div class="texto_comentarios">
                        Comentario: {{ comt.texto }}
                        <button type="submit" class="button-30">Enviar</button>
                    </div>
                </form>
            </div>



    {% endif %}

    {% for comentario in comentariosMostrar %}
    <div class="recuadro_comentarios_textos">
        <div class="texto_comentarios"> Escritos: {{ comentario.user }}  </div>
        <div class="texto_comentarios"> {{ comentario.texto }}  </div>

                    {% if user|stringformat:"s" == comentario.user|stringformat:"s" %} <!--Transforma ambos valores en texto-->
                        <div class="texto_entrada_enlaces_comentarios"> <button type="action" class="button-30"><a  class="texto_entrada_enlaces" href="{% url 'editar_comentario' pk=comentario.pk %}">Editar comentario</a> </button></div>
                        <button type="action" class="button-30"><a  class="texto_entrada_enlaces" href="{% url 'eliminarComentario' pk=comentario.pk %}">Eliminar comentario</a> </button>
                    {% endif %}


                {% for group in user.groups.all %}
                    {% if group.name == 'Moderadores' %}

                            <button type="action" class="button-30"><a  class="texto_entrada_enlaces" href="{% url 'editar_comentario' pk=comentario.pk %}">Editar comentario</a> </button>
                            <button type="action" class="button-30"><a  class="texto_entrada_enlaces" href="{% url 'eliminarComentario' pk=comentario.pk %}">Eliminar comentario</a> </button>

                    {% endif %}
                {% endfor %}
    </div>
    {% endfor %}

{% endblock %}