{% extends 'tienda/base.html' %}
            		
{% block content %}

    <center> <h1>Comprar Producto</h1></center>

    

    <div class="recuadro_compra">

        <div class="imagen_colocar"><img src="https://media.game.es/COVERV2/3D_L/V1G/V1GA1C.png"></div>

        <div>
            <div class="texto_compra">Nombre: <div class="colorRojo"> {{producto.nombre}}</div> </div>
            <div class="texto_compra">Marca:  <div class="colorRojo">{{producto.marca}}</div></div>
            <div class="texto_compra"> Modelo:  <div class="colorRojo">{{producto.modelo}}</div></div>
            <div class="texto_compra"> Unidades:  <div class="colorRojo">{{producto.unidades}}</div></div>
            <div class="texto_compra"> Precio:  <div class="colorRojo">{{producto.precio}}€</div></div>
            <br>
            {% if producto.vip %}
            <div class="texto_compra"> El producto es vip</div>
            {% endif %}

            
                {% if request.user.is_staff %}

                {% elif  request.user.is_authenticated  %}
                    <center> 
                        <form method="post">
                            {% csrf_token %}
                            <div class="texto_comprar"> Unidades a comprar: {{ form.unidades }}  <button type="submit"  class="button-30">Comprar</button></div>
                             
                        </form>
                    </center>
                {% endif %}

                {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
          
        </div>
    </div>
    
{% endblock %}