{% extends 'tienda/base.html' %}
            		
{% block content %}

    <center> <h1>Editar Producto</h1> </center>
    <div class="recuadro_editar">

    <form method="post" >
        {% csrf_token %}
        <div class="texto_edicion">Nombre: {{producto.nombre}}</div>
        <div class="texto_edicion">Marca: {{producto.marca}}</div>
        <div class="texto_edicion"> Modelo: {{producto.modelo}}</div>
        <div class="texto_edicion"> Precio: {{producto.precio}}€</div>
        <div class="texto_edicion"> Unidade: {{producto.unidades}}</div>
        <div class="texto_edicion"> Vip: {{producto.vip}}</div>


        <br>
        <center> <button type="submit" class="button-30">Eliminar producto </button></center>



    </form>
    </div>
    
{% endblock %}