{% extends 'tienda/base.html' %}
            			{% block content %}

                        <table border="1" class="tablaOrden"  cellspacing="1"  >

                            <tr class="colorTrEntrada">
                                <td class="texto"> Nombre</td>
                                <td class="texto"> Marca</td>
                                <td class="texto">Modelo</td>
                                <td class="texto"> Precio </td>
                                <td class="texto"> Unidades</td>
                                <td class="texto"> Editar</td>
                                <td class="texto"> Eliminar</td>
                            </tr>
                            

                         {% for producto in Productos %}

                             <tr> 

                                <td class="texto" > {{producto.nombre}}</td>
                                <td class="texto">{{producto.marca}}</td>
                                <td class="texto"> {{producto.modelo}}</td>
                                <td class="texto"> {{producto.precio}}€</td>
                                <td class="texto"> {{producto.unidades}}</td>

                                    <td>  
                                        <button type="action" class="button-30"><a  class="texto_entrada_enlaces" href="{% url 'editarProducto' pk=producto.pk  %}">Editar</a></button>
                                    </td>
                                
                                    <td> <button type="action" class="button-30"><a  class="texto_entrada_enlaces" href="{% url 'eliminarProducto' pk=producto.pk %}">Eliminar producto</a> </button></td>
                                         
                             </tr>
                         {% endfor %}

                       </table>
                       <br>
                       <button type="action" class="button-30"><a  class="texto_entrada_enlaces" href="{% url 'añadirProducto' %}">Añadir producto</a> </button>

                        {% endblock %}
           
