{% extends 'tienda/base.html' %}
            			{% block content %}
                        <form method="post">
                          {% csrf_token %}
                          {{ filtro_prod.as_div }}
                          <button type="active" class="myButton ">Buscar</button>
                      </form>

                         <div class="orden_recuadros">

                         {% for producto in Productos %}
                             <div class="recuadro_productos">
                                         <div class="recuadro_imagenes"><img src="https://cdn.grupoelcorteingles.es/SGFM/dctm/MEDIA03/202210/06/00194612300593____9__640x640.jpg"></div>

                               
                                            <div class="texto_tienda_nombre"> {{producto.nombre}}   {{producto.modelo}}</div>
                                            <h4>{{producto.marca}} </h4>
                                        <div class="ordenFlex">
                                           
                                            <div class="texto_tienda_precio"> {{producto.precio}}€</div>
                                            
                                                <div class="texto_boton">

                                                    <button type="action" class="button-30"><a class="texto_tienda_enlaces" href="{% url 'comprarProducto' pk=producto.pk  %}">Comprar</a></button>

                                                </div>
                                           
                                        </div>

                                  
                             </div>
                         {% endfor %}

                       </div>
                        {% endblock %}
